.counter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
    padding-top: 50px;
}

.titleCounter {
    font-size: 36px;
    color: #000;
}

.counter__control {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
}

.counter__number {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 36px;
    
}